@model IList<JBlog.Application.ViewModels.CategoryViewModel>
<div class="card">
    <div class="card-header">
        <a class="btn btn-primary" asp-area="Admin" asp-controller="Category" asp-action="Create">添加分类</a>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 20px">#</th>
                    <th>名称</th>
                    <th>描述</th>
                    <th style="width: 160px">操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var index = 1;
                    foreach (var category in Model)
                    {
                        <tr>
                            <td>@(index++)</td>
                            <td>@category.Name</td>
                            <td>@category.Description</td>
                            <td>
                                <a class="btn btn-sm btn-warning" asp-area="Admin" asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id">修改</a>
                                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@category.Id">删除</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item"><a class="page-link" href="#">«</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">»</a></li>
        </ul>
    </div>
</div>